body{
    background-color: antiquewhite;
}
#profile-picture{
    width: 96px;
    height: 96px;
    border-radius: 100%;
    position: relative;
    left: 50%;
    margin-top: 10%;
}

h1, h3{
    text-align: center;
    position: relative;
    left: 45px;
}

#socials{
    position: relative;
    left: 50%;
}

#insta{
    width: 680px;
    height: 56px;
    background-color: black;
    border-radius: 5px;
    color: white;
    
}
#insta h3{
    font-size: 16px;
    text-align: center;
    position: absolute;
    left: 310px;
}

#youtube{
    width: 680px;
    height: 56px;
    background-color: black;
    border-radius: 5px;
    color: white;
    
}

#youtube h3{
    font-size: 16px;
    text-align: center;
    position: absolute;
    left: 310px;
}

#figma{
    width: 680px;
    height: 56px;
    background-color: black;
    border-radius: 5px;
    color: white;
    
}
#figma h3{
    font-size: 16px;
    text-align: center;
    position: absolute;
    left: 310px;
}

#linkedin{
    width: 680px;
    height: 56px;
    background-color: black;
    border-radius: 5px;
    color: white;
    
}
#linkedin h3{
    font-size: 16px;
    text-align: center;
    position: absolute;
    left: 310px;
}

#dribbble{
    width: 680px;
    height: 56px;
    background-color: black;
    border-radius: 5px;
    color: white;
    
}
#dribbble h3{
    font-size: 16px;
    text-align: center;
    position: absolute;
    left: 310px;
}

#logo{
    width: 94.11px;
    height: 20px;
    position: relative;
    left: 50%;
}

#links{
    position: relative;
    left: 30%;
}